In [1]:
from datetime import datetime
# import folium
import importlib
import pandas as pd
import statistics
import tqdm
import os

import SaveEcoBotFinder
import IdMatcher
import CamsWrapper

importlib.reload(SaveEcoBotFinder)
importlib.reload(IdMatcher)
importlib.reload(CamsWrapper)

from SaveEcoBotFinder import SaveEcoBotFinder
from IdMatcher import IdMatcher
from CamsWrapper import CamsWrapper

DATA_FOLDER = "/media/data/osamoile/Ecobot_16_11_2020/"
# MATCHER = IdMatcher("співставлення ID постів з ID Cams.csv", bannedStations=[])
FINDER = SaveEcoBotFinder(DATA_FOLDER)
# CAMS = CamsWrapper("Cams_2019_2020_pm2.5_Kyiv.csv")

In [3]:
# PATH = DATA_FOLDER
# full = []
# for f in tqdm.tqdm(os.listdir(PATH)):
#     try:
#         df = pd.read_csv(PATH + f)
#         # 1. format is correct
#         if 'phenomenon' not in df.columns or 'value' not in df.columns or 'logged_at' not in df.columns:
#             df = pd.read_csv(PATH + f, header=None, names=["device_id", "phenomenon", "value", "logged_at", "value_text"])
#         # 2. only pm25
#         df = df[df.phenomenon == 'pm25']
#         # 3. no duplicates
#         df = df.drop_duplicates()
#         full.append(df)
#     except pd.errors.EmptyDataError:
#         pass

# fullDf = pd.concat(full)
# fullDf.to_csv("/media/data/osamoile/SRI/all_posts.csv", index=False)
# fullDf

          device_id phenomenon  value            logged_at  value_text
0              4211       pm25   3.84  2020-07-17 21:31:00         NaN
1              4211       pm25   4.12  2020-07-17 21:28:34         NaN
2              4211       pm25   4.40  2020-07-17 21:33:25         NaN
3              4211       pm25   4.76  2020-07-17 21:21:17         NaN
4              4211       pm25   4.87  2020-07-17 21:38:17         NaN
...             ...        ...    ...                  ...         ...
16295446       1041       pm25   5.30  2020-01-29 14:52:00         NaN
16295447       1041       pm25   5.34  2020-01-29 14:54:25         NaN
16295448       1041       pm25   5.48  2020-01-29 14:59:17         NaN
16295449       1041       pm25   5.68  2020-01-29 15:01:42         NaN
16295450       1041       pm25   5.71  2020-01-29 15:04:08         NaN

[16295451 rows x 5 columns]

In [5]:
# date formatting

# date = []
# hour = []
# minute = []
# second = []

# for i in fullDf.logged_at:
#     dt, tm = i.split()
#     tm = datetime.strptime(tm, '%H:%M:%S')
#     date.append(dt)
#     hour.append(tm.hour)
#     minute.append(tm.minute)
#     second.append(tm.second)

# fullDf['date'] = date
# fullDf['hour'] = hour
# fullDf['minute'] = minute
# fullDf['second'] = second
# fullDf.drop(columns='logged_at', inplace=True)
# fullDf.to_csv("/media/data/osamoile/SRI/all_posts_date.csv", index=False)
# fullDf

,device_id,phenomenon,value,logged_at,value_text,date,hour,minute,second
0,4211,pm25,3.84,2020-07-17 21:31:00,NaN,2020-07-17,21,31,0
1,4211,pm25,4.12,2020-07-17 21:28:34,NaN,2020-07-17,21,28,34
2,4211,pm25,4.40,2020-07-17 21:33:25,NaN,2020-07-17,21,33,25
3,4211,pm25,4.76,2020-07-17 21:21:17,NaN,2020-07-17,21,21,17
4,4211,pm25,4.87,2020-07-17 21:38:17,NaN,2020-07-17,21,38,17
...,...,...,...,...,...,...,...,...,...
16295446,1041,pm25,5.30,2020-01-29 14:52:00,NaN,2020-01-29,14,52,0
16295447,1041,pm25,5.34,2020-01-29 14:54:25,NaN,2020-01-29,14,54,25
16295448,1041,pm25,5.48,2020-01-29 14:59:17,NaN,2020-01-29,14,59,17
16295449,1041,pm25,5.68,2020-01-29 15:01:42,NaN,2020-01-29,15,1,42
16295450,1041,pm25,5.71,2020-01-29 15:04:08,NaN,2020-01-29,15,4,8

In [29]:
full

        device_id        date  hour  median  count       std
0              28  2019-03-10     0  14.475     22  0.940723
1              28  2019-03-10     1  11.470     25  0.827006
2              28  2019-03-10     2   8.135     20  0.520646
3              28  2019-03-10     3   8.290     24  0.522879
4              28  2019-03-10     4   6.585     24  0.327640
...           ...         ...   ...     ...    ...       ...
601266      13853  2020-11-16    18  16.480     23  1.699593
601267      13853  2020-11-16    19  16.350     23  1.282493
601268      13853  2020-11-16    20  15.570     22  1.246007
601269      13853  2020-11-16    21  11.445     24  1.585128
601270      13853  2020-11-16    22   9.790      5  0.478696

[601271 rows x 6 columns]

In [ ]:
# from scipy.signal import medfilt

# tmp = df_hourly[(df_hourly.device_id == 28) & (df_hourly.date == '2019-03-10')]['median'].tolist()
# print(tmp)
# print(len(tmp))
# res = medfilt(tmp, kernel_size=5)
# print(res)
# print(len(res))

In [ ]:
# camsDf = pd.read_csv("/media/osamoile/data/cams_df.csv")
# camsDf

In [26]:
n = 1000000  #chunk row size
list_df = [fullDf[i:i+n] for i in range(0,fullDf.shape[0],n)]
for i in range(len(list_df)):
    list_df[i].to_csv("/media/osamoile/data/sort_by_time/all_posts_%d_of_%d.csv" % (i+1, len(list_df)))

In [28]:
fullDf_byPost = fullDf.sort_values(["device_id", "logged_at"])
list_df = [fullDf_byPost[i:i+n] for i in range(0,fullDf_byPost.shape[0],n)]
for i in range(len(list_df)):
    list_df[i].to_csv("/media/osamoile/data/sort_by_time/all_posts_%d_of_%d.csv" % (i+1, len(list_df)))

,device_id,phenomenon,value,logged_at,value_text,date,hour,minute,second
2057952,28,pm25,14.22,2019-03-10 00:03:38,NaN,2019-03-10,0,3,38
2057953,28,pm25,14.92,2019-03-10 00:06:09,NaN,2019-03-10,0,6,9
2057954,28,pm25,15.20,2019-03-10 00:08:37,NaN,2019-03-10,0,8,37
2057955,28,pm25,14.76,2019-03-10 00:11:05,NaN,2019-03-10,0,11,5
2057956,28,pm25,14.54,2019-03-10 00:13:33,NaN,2019-03-10,0,13,33
...,...,...,...,...,...,...,...,...,...
6409452,13853,pm25,9.93,2020-11-16 22:01:03,NaN,2020-11-16,22,1,3
6409453,13853,pm25,9.14,2020-11-16 22:03:32,NaN,2020-11-16,22,3,32
6409454,13853,pm25,9.41,2020-11-16 22:06:02,NaN,2020-11-16,22,6,2
6409455,13853,pm25,10.38,2020-11-16 22:08:37,NaN,2020-11-16,22,8,37
6409456,13853,pm25,9.79,2020-11-16 22:11:09,NaN,2020-11-16,22,11,9